#root {
    margin: 0;
    padding: 0;

    .rightMenu {
        // padding: 20px;
        border-left: 1px solid var(--text-color);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 500px;
        overflow-y: scroll;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column-reverse;
    }
}

// .overlay {
//     opacity: 73%;
//     // z-index: 99;
//     // width: 100%;
//     // height: 100%;
//     // position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 20%;
//     // background-color: var(--text-color);
// }

.unchecked {
    color: var(--placeholder-color);
}
