.textArea {
    padding: 30px;
    color: var(--text-color);
    display: flex;
    font-size: var(--normal-font-size);
    flex: 2;
    position: relative;
    width: calc(100% - 867px);

    .text {
        transition: all 0.2s;
    }
}
