* {
    font-family: "Consolas", "Courier New", "Courier";
    box-sizing: border-box;
    color: var(--text-color);
}

textarea,
input[type="text"],
input[type="number"] {
    outline: none;
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--sub-color);
    font-size: 22px;
    padding: 10px;
    min-width: 100%;
    max-width: 100%;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--light-sub-color);
}

::selection {
    background: var(--light-sub-color);
}

/* width */
::-webkit-scrollbar {
    transition: all 0.2s;
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--sub-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--text-color);
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: var(--sub-text-color);
// }

:root {
    --bg-color: #1a1e22;
    --text-color: #d8d2cc;
    --sub-text-color: #d8d2cc36;
    --sub-color: #272d33;
    --light-sub-color: #494e54;
    --border-radius: 3px;
    --font-size-1: 30px;
    --font-size-2: 22px;
}
